 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



@import url(menu.css);






body{
    background-image: url(../img/a2.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
        font-family: 'Open Sans', sans-serif;
    
    
}






.contenedor{
    width: 90%;
    margin: auto;
}












 



.info{
    background-color: rgba(0,0,0,.5);
    height: 100px;
    color: wheat;
    font-size: 18px;
     margin-top: 80vh;
    text-align:center;
   

    
   
    
}
.info p{
    padding: 20px;
    font-family: monospace;
    
    
}